.navbar{

background-color: #5cb85c;

    

}
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar-default .navbar-brand {
    color: #fff;
}
.navbar-brand,
.navbar-nav li a {
    line-height: 63px;
    height: 63px;
    padding-top: 0;
}

#footer{
background-color: #5cb85c;
color: #fff;
}
#footer .container a{
color:white;
text-decoration:none;
}
#footer .container li > a:hover > a:focus{
background-color:transparent;
color:#333;
}
body
{
    margin-top:70px;

}
th
{
width:10%;
text-align: left;
}
.align
{
text-align: center;
}

