@import url(http://fonts.googleapis.com/css?family=Lato:300,400);
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}


.codrops-demos a,
section button {
	display: inline-block;
	background: #a9a9a9;
	color: #62717a;
	font-weight: 400;
	
	margin: 5px;
	text-transform: uppercase;
	border-radius: 2px;
	letter-spacing: 1px;
}

section {
	
	text-align: center;
	font-size: 1.5em;
}

section p {
	max-width: 600px;
	margin: 0 auto;
	padding: 1px 0 0 0;
}

section button {
	border: none;
	padding: 8px 20px;
	outline: none;
	background: #f2f2f2;
}

@media screen and (max-width: 25em) {
	.codrops-icon span {
		display: none;
	}
}